@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #2e2d2d, #5e5757);
    font-family: 'Poppins', sans-serif;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    height:100vh;
    line-height: 35px;

}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(18, 17, 17, 0.5);
    background-color: #6a6969;
    border-radius:5px;
    padding:4rem 2rem;
    text-align: center;
}
.container h1{
    font-weight: 700;
}

.container .my-profile-container{
    width:200px;
    height:200px;
    margin-bottom: 2rem;
}
.container .my-profile-container .img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 50%;
}
h3{
    font-size: 15px;
}
h5{
    font-size: 18px;
}
.update-btn{
    padding:1rem 1.4rem;
    border:none;
    font-size:18px;
    margin-top:1rem;
    border-radius:5px;
    box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    font-family: inherit;
    color: #333;
    cursor:pointer;
    transition: 0.5s ease;
}
.update-btn:hover{color: #333;}